*{margin:0px; padding: 0px;}

.container{
    width: 50%;
    margin: 0px auto;
    min-width: 250px;
    max-width: 550px;
}
.card{padding: 0px}
.title-container h1{
    text-align: center;
    padding: 5px 0px;
}

.input-container input[type="text"]{
    width: 80%;
}
.input-container input[type="checkbox"]{
    margin-right: 5%;
}
.task-complited{
    text-decoration: line-through;
}
.span-text{
    margin: 0px 5%;
}