*{margin:0px; padding: 0px;}

.container{
    width: 50%;
    margin: 0px auto;
    min-width: 250px;
    max-width: 550px;
}

.title-container h1{
    text-align: center;
}

.input-container input{
    width: 100%;
    margin:0 5%;
}
.task-complited{
    text-decoration: line-through;
}